.gradientContainer {
    background: url('../../../public/assets/subtle-prism.svg');
    background-size: 100% auto;
    height: calc(100vh - 80px);
    display: flex;
    justify-content: center;
    padding-top: 15vh;
    background-position: center;
}

.pageTitle {
    font-size: 100px;
    color: white;
    font-weight: bold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.contact {
    background-color: #f5f7fa;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.contactText {
    color: black;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.input {
    padding: 10px;
    color: black;
    border-width: 2px;
    border-style: solid;
    border-color: gray;
    border-radius: 5px;
}

.submit {
    border-radius: 5px;
    background-color: lightskyblue;
    padding: 10px;
    color: white;
    border-width: 0px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.schoolContainer {
    border-radius: 15px;
    border-width: 1px;
    border-style: solid;
    border-color: gray;
    padding: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 50vw;
}

.errorText {
    color: red;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}