.blog {
    background-color: #f5f7fa;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.schoolContainer {
    border-radius: 15px;
    border-width: 1px;
    border-style: solid;
    border-color: gray;
    padding: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 50vw;
}

.blogText {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1.5;
    color: black;
}

.blogImage {
    border-radius: 5px;
    border-style: solid;
    border-color: black;
    border-width: 5;
}

.blogTitle {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1.5;
    font-size: 30;
    color: black;
}

.commentTitle {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1.5;
    font-size: 25;
    color: black;
}

.contactText {
    color: black;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.input {
    padding: 10px;
    color: black;
    border-width: 2px;
    border-style: solid;
    border-color: gray;
    border-radius: 5px;
}

.submit {
    border-radius: 5px;
    background-color: lightskyblue;
    padding: 10px;
    color: white;
    border-width: 0px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.errorText {
    color: red;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}